[Desktop Entry]
Version=1.0
Type=Application
GenericName[zh_CN]=开机屏幕自动映射2次
Name=zidongyingshe2ci
Name[zh_CN]=开机屏幕自动映射2次
Exec=/var/screen/screen-start2 
